{% extends 'auth_base.html' %}

{% block content %}

<div class="container-fluid d-flex  row" style="min-height: 100%; height: 100%;">
  <div class=" bg-dark d-flex justify-content-center col-6">
    <div style="margin-top: 50%">
      <h1 class="text-light">Support of Risk Management in Agile Product Development</h1> 
    </div>
  </div>
  <div class=" bg-light d-flex col-6 justify-content-center ">
    <div style="margin-top: 50%"> 
      {% if form.errors %}
      <h4 class="text-danger">Your username and password didn't match. Please try again.</h4>
      {% endif %}
      {% if next %}
      {% if user.is_authenticated %}
      <h4 class="text-danger">Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</h4>
      {% else %}
        <h4 class="text-danger">Please login to see this page.</h4>
      {% endif %}
    {% endif %}
    <div>
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
                <div class="form-group">
            <label for="{{form.username.id_for_label}}">{{ form.username.label_tag }}</label>
            <input type="text" class="form-control" name="username" id="{{form.username.id_for_label}}" required placeholder="User Name">
        </div>
        <div class="form-group">
            <label for="{{form.password.id_for_label}}">{{ form.password.label_tag }}</label>
            <input type="password" class="form-control"  name="password" id="{{form.password.id_for_label}}" placeholder="Password">
        </div>
          <input class="btn btn-outline-secondary float-right" type="submit" value="Login" />
          <input type="hidden" name="next" value="{{ next }}" />
      </form>
      <footer>

        <label class="text-dark">For sign up, please contact system admin via riskmanagementtooldp@gmail.com</label>
      </footer> 
    </div>
  </div>
</div>

{% endblock %}
