{% extends 'risk/project_detail.html' %}
{% block title %}Log frame{% endblock title %}

{% block projekt-div %}
<div class="bg-light col-10 d-flex justify-content-center">
    <table class="table table-bordered mt-3" id="matrix">
        <thead class="thead-light">
            <th>Objectives</th>
            <th>Success Measures</th>
            <th>Verification</th>
            <th>Assumptions</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label>{{ project.g1 }}</label>
                </td>
                <td>
                    <label>{{ project.g2 }}</label>
                </td>
                <td>
                    <label>{{ project.g3 }}</label>
                </td>
                <td>
                    <label>{{ project.g4 }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{ project.p1 }}</label>
                </td>
                <td>
                    <label>{{ project.p2 }}</label>
                </td>
                <td>
                    <label>{{ project.p3 }}</label>
                </td>
                <td>
                    <label>{{ project.p4 }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{ project.o1 }}</label>
                </td>
                <td>
                    <label>{{ project.o2 }}</label>
                </td>
                <td>
                    <label>{{ project.o3 }}</label>
                </td>
                <td>
                    <label>{{ project.o4 }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{ project.i1 }}</label>
                </td>
                <td>
                    <label>{{ project.i2 }}</label>
                </td>
                <td>
                    <label>{{ project.i3 }}</label>
                </td>
                <td>
                    <label>{{ project.i4 }}</label>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<div class="offset-11 col-1">
    {% if perms.risk.change_risk %}
    <a class="btn btn-warning"  href="{% url 'update-lfa' project_id %}">
        Edit
    </a>
    {% endif %}</div>

{% endblock projekt-div %}
