{% extends 'risk/project_detail.html' %}
{% block title %}Log frame{% endblock title %}

{% block projekt-div %}

<div class="bg-light col-10 d-flex justify-content-center">
    <form action="{% url 'update-lfa' project_id %}" method='post'>
        {% csrf_token %}
    <table class="table table-bordered mt-3" id="matrix">
        <thead class="thead-light">
            <th>Objectives</th>
            <th>Success Measures</th>
            <th>Verification</th>
            <th>Assumptions</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <textarea class="form-control" name="{{form.g1.html_name}}" id="{{form.g1.id_for_label}}" rows="3">{{form.g1.value}}</textarea>
                </td>
               <td>
                    <textarea class="form-control" name="{{form.g2.html_name}}" id="{{form.g2.id_for_label}}" rows="3">{{form.g2.value}}</textarea>
                </td>
                <td>
                    <textarea class="form-control" name="{{form.g3.html_name}}" id="{{form.g3.id_for_label}}" rows="3">{{form.g3.value}}</textarea>
                </td>
                <td>
                    <textarea class="form-control" name="{{form.g4.html_name}}" id="{{form.g4.id_for_label}}" rows="3">{{form.g4.value}}</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <textarea class="form-control" name="{{form.p1.html_name}}" id="{{form.p1.id_for_label}}" rows="3">{{form.p1.value}}</textarea>
                </td>
                <td>
                    <textarea class="form-control" name="{{form.p2.html_name}}" id="{{form.p2.id_for_label}}" rows="3">{{form.p2.value}}</textarea>
                </td>
                <td>
                    <textarea class="form-control" name="{{form.p3.html_name}}" id="{{form.p3.id_for_label}}" rows="3">{{form.p3.value}}</textarea>
                </td>
                <td>
                    <textarea class="form-control" name="{{form.p4.html_name}}" id="{{form.p4.id_for_label}}" rows="3">{{form.p4.value}}</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <textarea class="form-control" name="{{form.o1.html_name}}" id="{{form.o1.id_for_label}}" rows="3">{{form.o1.value}}</textarea>
                </td>
                <td>
                    <textarea class="form-control" name="{{form.o2.html_name}}" id="{{form.o2.id_for_label}}" rows="3">{{form.o2.value}}</textarea>
                </td>
                <td>
                    <textarea class="form-control" name="{{form.o3.html_name}}" id="{{form.o3.id_for_label}}" rows="3">{{form.o3.value}}</textarea>
                </td>
                <td>
                    <textarea class="form-control" name="{{form.o4.html_name}}" id="{{form.o4.id_for_label}}" rows="3">{{form.o4.value}}</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <textarea class="form-control" name="{{form.i1.html_name}}" id="{{form.i1.id_for_label}}" rows="3">{{form.i1.value}}</textarea>
                </td>
                <td>
                    <textarea class="form-control" name="{{form.i2.html_name}}" id="{{form.i2.id_for_label}}" rows="3">{{form.i2.value}}</textarea>
                </td>
                <td>
                    <textarea class="form-control" name="{{form.i3.html_name}}" id="{{form.i3.id_for_label}}" rows="3">{{form.i3.value}}</textarea>
                </td>
                <td>
                    <textarea class="form-control" name="{{form.i4.html_name}}" id="{{form.i4.id_for_label}}" rows="3">{{form.i4.value}}</textarea>
                </td> 
            </tr>
        </tbody>
    </table>
</div>
    <button type="submit" class="offset-11 btn btn-success">Submit</button>
</form>
{% endblock projekt-div %}
