{% extends 'base.html' %}
{% block title %}Profile{% endblock title %}
{% block content %}


    <div class="card-header">
        <h5 class="card-title">Profile</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <dl class="col-sm-6 row">
                <dt class="col-sm-4">First name</dt>
                <dd class="col-sm-8">{{ user.first_name }}</dd>
                <dt class="col-sm-4">Last name</dt>
                <dd class="col-sm-8">{{ user.last_name}}</dd>
                <dt class="col-sm-4">Email</dt>
                <dd class="col-sm-8">{{ user.username }}</dd>
                <dt class="col-sm-4">Role</dt>
                <dd class="col-sm-8">{{  }} </dd>
            </dl>

        </div>
        <div class="float-right d-inline">
            <div class="modal fade" tabindex="-1" role="dialog" id="modal">
                <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
                </div>
            </div>
            {% if perms.risk.change_project and object.is_active %}
                <button type="button" class="update-project btn btn-warning">Edit</button>
            {% endif %}
            {% if perms.risk.delete_project and object.is_active %}
                <button type="button" class="delete-project btn btn-danger">Deactivate</button>
            {% endif %}
        </div>
    </div>
