<form method="post" action="">
    {% csrf_token %}

   <div class="modal-header">
      <h5 class="modal-title">Create new task</h5>

      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
            {% endfor %}

        {{ form.non_field_errors }}

        <div class="fieldWrapper">
            {{ form.name.errors }}
            <label for="{{ form.name.id_for_label }}">Task name:</label>
            <input class="form-control" type="text" name="name" id="{{form.name.id_for_label}}" required>
        </div>

        <div class="fieldWrapper">
            {{ form.taskID.errors }}
            <label for="{{ form.taskID.id_for_label }}">Task ID:</label>
            <textarea class="form-control"  name="taskID" id="{{form.taskID.id_for_label}}" rows="3"></textarea>
        </div>

        <div class="fieldWrapper">
            <label for="{{ form.final_date.id_for_label }}">Final date:</label>
            <input class="form-control" type="date" name="final_date" id="{{form.final_date.id_for_label}}" required>
            <div class="{% if form.final_date.errors %} invalid{%endif%}">
                {% for error in form.final_date.errors %}
                  <p class="help-block">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="fieldWrapper">
            {{ form.description.errors }}
            <label for="{{ form.description.id_for_label }}">Description:</label>
            <input class="form-control" type="text" name="description" id="{{form.description.id_for_label}}" >

        </div>
        <div class="fieldWrapper">
            {{ form.taskstate.errors }}
            <label for="{{ form.taskstate.id_for_label }}">{{form.taskstate.label}}</label>
            <select class="custom-select mr-sm-2" name="taskstate" id="{{form.taskstate.id_for_label}}">
                {% for value,t in form.taskstate.field.choices %}
                    <option value="{{value }}" >{{ t }}</option>
                {% endfor %}
              </select>
        </div>
        <div class="fieldWrapper">
            {{ form.task_dev.errors }}
            <label for="{{ form.task_dev.id_for_label }}">{{form.task_dev.label}}</label>
            <select class="custom-select mr-sm-2" name="task_dev" id="{{form.task_dev.id_for_label}}">
                {% for value,t in form.task_dev.field.choices %}
                    <option value="{{value }}" >{{ t }}</option>
                {% endfor %}
              </select>
        </div>
        <div class="fieldWrapper">
            {{ form.task_check.errors }}
            <label for="{{ form.task_check.id_for_label }}">{{form.task_check.label}}</label>
            <select class="custom-select mr-sm-2" name="task_check" id="{{form.task_check.id_for_label}}">
                {% for value,t in form.task_check.field.choices %}
                    <option value="{{value }}" >{{ t }}</option>
                {% endfor %}
              </select>
        </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-success">Create</button>
    </div>


  </form>
