<form method="post" action="">
    {% csrf_token %}
    
    <div class="modal-header">
      <h5 class="modal-title">Detail of task {{task.taskID}}: {{task.name}} - {{task.taskstate}}</h5>

      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
         {% endfor %}

        {{ form.non_field_errors }}
        <div class="row">
            <div class="col-2"><b>Developer:</b></div>
            <div class="col-4">{{ task.task_dev }}</div>
            <div class="col-2"><b>Check by:</b></div>
            <div class="col-4">{{task.task_check}}</div>
        </div>
        <div class="row">
            <div class="col-2"><b>Deadline:</b></div>
            <div class="col-4">{{ task.final_date }}</div>
            <div class="col-2"><b>Phase:</b></div>
            <div class="col-4">{{task.project_phase}}</div>
        </div>
        <div>
            <dt >Description:</dt>
            <dd >{{task.description}}</dd>
        </div>  
    </div>
</form>