{% extends 'risk/project_detail.html' %}
{% block title %}Workers{% endblock title %}
{% block projekt-div %}
<div class="bg-light col-10">
    <div class="card mt-3">
        <div class="card-header">
            <div class="row justify-content-between">
                <h5 class="card-title mx-2">Project members</h5>
                <div class="">
                    <div class="float-right form-inline row">
                        <div class="dropdown mr-4">
                            <div class="form-inline">

                                <button class="btn btn-outline-info dropdown-toggle mr-2" type="button" id="dropdownPhases" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                                Role
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownPhases">
                                    {% for role in roles %}
                                        <a class="dropdown-item" type="button" href="?role={{role.name}}">{{role.name}}</a>
                                    {% endfor %}
                                </div>
                                <form class="form-inline" action="" method="GET">
                                    <input class="form-control" type="search" name="q" placeholder="Search" aria-label="Search" />
                                    <button type="submit" class="btn btn-primary ml-2">
                                    Search
                                    </button>
                                </form>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-responsive">
                <tr>
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Login</th>
                            <th scope="col">Role</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.groups.all.0.name }}</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock projekt-div %}

{% block js %}
{{block.super}}
<script type="text/javascript">
    $(document).ready(function() {


        $("#propF").click(function(){
          $("#dopFD").hide();
          $("#stateFD").hide();
          $("#propFD").toggle();

              });
        $("#dopF").click(function(){
          $("#stateFD").hide();
          $("#propFD").hide();
          $("#dopFD").toggle();
              });
        $("#stateF").click(function(){
          $("#propFD").hide();
          $("#dopFD").hide();
          $("#stateFD").toggle();
              });
      });

</script>
{% endblock js %}
