<form method="post" action="">
    {% csrf_token %}
    
    <div class="modal-header">
      <h5 class="modal-title">Detail of issue #{{object.issueID}}: {{object.name}} - {{ object.issuestate }} </h5>
      

      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
         {% endfor %}

        {{ form.non_field_errors }}

            <div class="row">
                <div class="col-2"><b>Developer</b></div>
                <div class="col-4">{{ object.issue_dev }}</div>
                <div class="col-2"><b>Check by</b></div>
                <div class="col-4">{{object.issue_check}}</div>
            </div>
    
            <dt >Description:</dt>
            <dd >{{object.description}}</dd>
    </div>  
    
</form>