<form method="post" action="">
    {% csrf_token %}

   <div class="modal-header">
      <h5 class="modal-title">Update Phase</h5>

      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
     {% endfor %}

    {{ form.non_field_errors }}


   <div class="fieldWrapper">
        {{ form.phase_manager.errors }}
        <label for="{{ form.phase_manager.id_for_label }}">{{form.phase_manager.label}}</label>
        <select class="custom-select mr-sm-2" name="phase_manager" id="{{form.phase_manager.id_for_label}}" required>
            {% for value,t in form.phase_manager.field.choices %}
                    <option value="{{ value}}" {% if value == object.phase_manager.pk %} selected{% endif %}>{{ t }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="fieldWrapper">
        {{ form.name.errors }}
        <label for="{{ form.name.id_for_label }}">Phase name:</label>
        <input class="form-control" type="text" name="name" id="{{form.name.id_for_label}}"  value="{{object.name}}" required>
    </div>

    <div class="fieldWrapper">
        {{ form.description.errors }}
        <label for="{{ form.description.id_for_label }}">Description:</label>
        <textarea class="form-control"  name="description" id="{{form.description.id_for_label}}" rows="3">{{object.description}}</textarea>
    </div>

    <div class="fieldWrapper">
        {{ form.start_date.errors }}
        <label for="{{ form.start_date.id_for_label }}">Start date:</label>
        <input class="form-control" type="date" name="start_date" id="{{form.start_date.id_for_label}}"  value="{{object.start_date|date:'Y-m-d'}}" required>
    </div>

    <div class="fieldWrapper">
        {{ form.real_end_date.errors }}
        <label for="{{ form.real_end_date.id_for_label }}">Real end date:</label>
        <input class="form-control" type="date" name="real_end_date" id="{{form.real_end_date.id_for_label}}"  value="{{object.real_end_date|date:'Y-m-d'}}">

    </div>
    <div class="fieldWrapper">
        {{ form.estimated_end_date.errors }}
        <label for="{{ form.estimated_end_date.id_for_label }}">End date</label>
        <input class="form-control" type="date" name="estimated_end_date" id="{{form.estimated_end_date.id_for_label}}"  value="{{object.estimated_end_date|date:'Y-m-d'}}" >
    </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Update</button>
    </div>

  </form>
