<form method="post" action="">
    {% csrf_token %}

   <div class="modal-header">
      <h5 class="modal-title">Add new issue</h5>

      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
         {% endfor %}

        {{ form.non_field_errors }}

        <div class="fieldWrapper">
            {{ form.name.errors }}
            <label for="{{ form.name.id_for_label }}">Issue name:</label>
            <input class="form-control" type="text" name="name" id="{{form.name.id_for_label}}" required>
        </div>

        <div class="fieldWrapper">
            {{ form.issueID.errors }}
            <label for="{{ form.issueID.id_for_label }}">Issue ID:</label>
            <textarea class="form-control"  name="issueID" id="{{form.issueID.id_for_label}}" rows="3"></textarea>
        </div>
        <div class="fieldWrapper">
            {{ form.issuestate.errors }}
            <label for="{{ form.issuestate.id_for_label }}">{{form.issuestate.label}}</label>
            <select class="custom-select mr-sm-2" name="issuestate" id="{{form.issuestate.id_for_label}}">
                {% for value,t in form.issuestate.field.choices %}
                    <option value="{{value }}" >{{ t }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="fieldWrapper">
            {{ form.issue_dev.errors }}
            <label for="{{ form.issue_dev.id_for_label }}">{{form.issue_dev.label}}</label>
            <select class="custom-select mr-sm-2" name="issue_dev" id="{{form.issue_dev.id_for_label}}">
                {% for value,t in form.issue_dev.field.choices %}
                    <option value="{{value }}" >{{ t }}</option>
                {% endfor %}
              </select>
        </div>
        <div class="fieldWrapper">
            {{ form.issue_check.errors }}
            <label for="{{ form.issue_check.id_for_label }}">{{form.issue_check.label}}</label>
            <select class="custom-select mr-sm-2" name="issue_check" id="{{form.issue_check.id_for_label}}">
                {% for value,t in form.issue_check.field.choices %}
                    <option value="{{value }}" >{{ t }}</option>
                {% endfor %}
              </select>
        </div>
        <div class="fieldWrapper">
            {{ form.description.errors }}
            <label for="{{ form.description.id_for_label }}">{{form.description.label}}</label>
            <textarea class="form-control"  name="description" id="{{form.description.id_for_label}}" ></textarea>
<!--
            <select class="custom-select mr-sm-2" name="description" id="{{form.description.id_for_label}}">
                {% for value,t in form.description.field.choices %}
                    <option value="{{value }}" >{{ t }}</option>
                {% endfor %}
              </select>  rows="3"   -->
        </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-success">Create</button>
    </div>
  </form>
