{% extends 'risk/project_detail.html' %}
{% block title %}Time sheet{% endblock title %}

{% block projekt-div %}

    <div class="bg-light col-10">
        <div class="accordion" id="accordionExample">
            {% for phase in project_phases %}
            
                <div class="card">
                    <div class="card-header" id="heading-{{ forloop.counter }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-dark text-decoration-none" type="button" data-toggle="collapse" data-target="#collapse-{{ forloop.counter}}">
                                <b>{{ phase }}</b> Until: {{ phase.estimated_end_date }} <span class="float-right">State: {{phase.is_active|yesno:"active,inactive" }}</span>
                            </button>
                        </h2>
                    </div>

                    <div id="collapse-{{ forloop.counter }}" class="collapse" data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Task ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Worker</th>
                                        <th scope="col">Check from</th>
                                        <th scope="col">State</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for task in phase.tasks.all %}
                                        <tr>
                                            <td>{{ task.taskID }}</td>
                                            <td>{{ task.name }}</td>
                                            <td>{{ task.task_dev }}</td>
                                            <td>{{ task.task_check }}</td>
                                            <td>{{ task.taskstate}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}    
        </div>
    </div>

{% endblock projekt-div %}
