<form method="post" action="">
    {% csrf_token %}
    
    <div class="modal-header">
      <h5 class="modal-title">Detail of risk {{object.name}}</h5>

      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
         {% endfor %}

        {{ form.non_field_errors }}
        <div>
            <dl>               
                <dt >Threat: {{object.threat}}</dt>
               
                <dt >Risk: {{object.risk}}</dt>
                
                <dt >State: {{object.state}}</dt>
                
                <dt >Owner: {{object.risk_assignee}}</dt>

                <dt >Threat: {{object.threat}}</dt>
            </dl>
            <dl>
                <dt> Probability: {{object.get_probability_display}}</dt>
            
                <dt> Impact: {{object.get_impact_display}}</dt>

                <dt> Start date: {{object.start_date}}</dt>

                <dt> Change date: {{object.state_change_date}}</dt>

                <dt> Reaction date: {{object.reaction_date}}</dt>
            </dl>    
        </div>
        <div>
            <dt >Description:</dt>
            <dd >{{object.description}}</dd>
        </div>  
        <div>
            <dt >Comment:</dt>
            <dd >{{object.comment}}</dd>
        </div>    
    </div>
</form>