<form method="post">{% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title">Deactivate Task</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to deactivate "{{ object }}"?</p>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-danger">Delete</button>
    </div>

</form>
